footer{
    background: var(--bannerBackground);
    position: relative;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: auto auto 0 auto;
}

.operatingDate, .copyrightContainer{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.007em;
}

@media  screen and (max-width: 500px) {
    .copyrightContainer,.operatingDateContainer{
        margin: 0 0.5rem !important;
    }
}