.firstSection{
    background: rgb(49, 49, 49);
    min-width: 100%;
    min-height: 500px;
    border-radius: 0 0 10rem 0;
    -webkit-border-radius: 0 0 10rem 0;
    -moz-border-radius: 0 0 10rem 0;
    -ms-border-radius: 0 0 10rem 0;
    -o-border-radius: 0 0 10rem 0;
}

.welcometitleContainer p{
    color:#f1f1f1;
    text-shadow: 10px #f1f1f1;
}

.localTimeContainer{
    height: 20%;
}

.timebutton{
    background:rgb(68, 65, 65);
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.localBSTTime{
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
}

.secondSection{
    margin: 10px 0 0 0;
    padding: 3rem;
}

.image1{
    min-height: 150px;
    min-width: 150px;
    width: 360px;
    height: 360px;
}

.images{
   height: 100%;
   width: 100%;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}

@media  screen and (max-width: 710px) {
    .firstSection{
        flex-direction: column !important;
        min-height: 700px;
    }
    .welcomeimagecontainer{
        margin: auto;
        width: 100%;
    }
    .image1{
        width:100%;
        height: 100%;
    }
}